Import Dependencies

In [38]:
import pandas as pd
import zipfile

Import Data

In [39]:
bikes = pd.read_csv('london_merged.csv')

Expoloration Data and Manipulation Data

In [40]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [41]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [42]:
bikes.wind_speed.value_counts()

wind_speed
12.000000    842
14.000000    832
11.000000    832
15.000000    828
13.000000    828
            ...
52.000000      1
54.000000      1
50.000000      1
36.500000      1
2.666667       1
Name: count, Length: 103, dtype: int64

In [43]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [44]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

Membuat dictionary baru

In [45]:
new_cols_dict = {
    "timestamp" : "time",
    "cnt" : "count",
    "t1" : "temp_real_C",
    "t2" : "temp_feels_like_C",
    "hum" : "humidity_percent",
    "wind_speed" : "wind_speed_kph",
    "weather_code" : "weather",
    "is_holiday" : "is_holiday",
    "is_weekend" : "is_week_end",
    "season" : "season"
}

#Ganti nama kolom secara spsesifik
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [46]:
#Mengubah humidty persen menadi 0-1
bikes.humidity_percent = bikes.humidity_percent / 100

In [48]:
#buat dictionary untuk (musim) season
season_dict = {
    "0.0" : "spring",
    "1.0" : "summer",
    "2.0" : "autumn",
    "3.0" : "winter"
}

#buat dictionary untuk cuaca (weather)
weather_dict = {
    "1.0" : "clear",
    "2.0" : "scattered clouds",
    "3.0" : "broken clouds",
    "4.0" : "cloudy",
    "7.0" : "rain",
    "10.0" : "rain_with_thunder_strom",
    "26.0" : "snowfall"
}

#ganti tipe data season ke dalam bentuk string
bikes.season = bikes.season.astype('str')
#mapping nilai 0-3
bikes.season = bikes.season.map(season_dict)

#ganti tipe data season ke dalam bentuk string
bikes.weather = bikes.weather.astype('str')
#mapping nilai 0-3
bikes.weather = bikes.weather.map(weather_dict)

In [49]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_week_end,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter